body {
    font-family: sans-serif;
    background-color: rgba(0,0,0,0.4);
    background-repeat: no-repeat;
    background-size: cover;
}
.signup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #fff;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    h3 {
        padding: 0;
        color: #42c3f2;
    }
    input {
        padding: 10px 0;
        margin-bottom: 30px;
        width: 100%;
        box-sizing: border-box;
        box-shadow: none;
        outline: none;
        border: none;border-bottom: 2px solid #999;
    }
    .btn-signup {
        width: 100%;
        border-radius: 20px;
        background-color: #42c3f2;
        border: none;
    }  
    .more-help {
        font-size: 12px;
        cursor: pointer;
    } 
    form div {
        position: relative;
    }
    form div label {
        position: absolute;
        top: 10px;
        left: 0;
        pointer-events: none;
        color: #999;
        transition: 0.5s;
    }
    input:focus, input:valid {
        border-bottom: 2px solid #42c3f2;
    }
    .wrapper-submit {
        border-bottom: 1px solid #d9d9d9;
    }
}
.signup input:valid ~ label {
    top: -15px;
    left: 0;
    font-size: 12px;
    font-weight: bold;
    color: #42c3f2;
}
.signup input:focus ~ label {
    top: -15px;
    left: 0;
    font-size: 12px;
    font-weight: bold;
    color: #42c3f2;
}
